<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="wp-wrapper"> 
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/solar">Solar</a></li>
    <li>Expenses</li>
  </ul>
    <div class="wp-inner">
      <a href="javascript:void(0)" class="add">Add<span><i class="fas fa-plus"></i></span></a>
        <div class="modal" id="modal">
          <div class="modal-head">
            <h3>Expenses form</h3>
            <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
          </div>               
            <form action="/solarExpenses" method="POST">
                <div>
                    <label for="date">Expense Date:</label>
                    <input type="date" name="date" required >
                </div>
                <div>
                    <label for="execName">Executive Name:</label>
                    <input type="text" name="execName" required>
                </div>
                <div>
                    <label for="amount">Amount:</label>
                    <input type="number" name="amount" required>
                </div>
                <div>
                    <label for="purpose">Purpose:</label>
                    <input type="text" name="purpose" required>
                </div>
                <div>
                    <label for="paymentMode">Payment Mode:</label>
                    <div class="radio-btn-wrapper"><label for="paymentMode">Cash</label> <input type="radio" name="paymentMode" value="Cash" > </div>
                    <div class="radio-btn-wrapper"><label for="paymentMode">Online</label> <input type="radio" name="paymentMode" value="Online" required> </div>
                </div>
                <button type="submit">Add</button>
            </form>
        </div>

        <table class="wptable">
            <tr>
              <th>S.No</th>
              <th>Date</th>
              <th>Executive name</th>
              <th>Amount</th>
              <th>Purpose</th>
              <th>Payment mode</th>
            </tr>
            <% if(expenses.length > 0) { %>
              <% expenses.forEach((expense, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= expense.expenseDate.toDateString() %></td>
                  <td><%= expense.executiveName %></td>
                  <td>&#8377; <%= expense.amount %></td>
                  <td><%= expense.purpose %></td>
                  <td><%= expense.paymentMode %></td>
                </tr>
              <% }) %>
            <% } %>
          </table>
    </div>
</div>
<%- include('../partials/footer') -%>