<%- include('../partials/header') -%> 
<%- include('../partials/navbar') -%>
<div class="emi-wrapper">
  <div class="wp-wrapper">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/solar">Distribution</a></li>
      <li><a href="/solarTotalSales">Total Sales</a></li>
      <li>Check Emi</li>
    </ul>
    <h2><%= person.customerName %>'s EMI representation</h2>

    <input type="hidden" id="duration" value="<%= person.duration %>" />
    
    <!-- First Payment Status Modal -->
    <div class="modal" id="paymentStatusModal1">
      <div class="modal-head">
        <h3>Change payment status</h3>
        <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
      </div>
      <form action="/solarEmiPaymentStatus" method="POST">
        <input type="hidden" name="id" value="<%= person._id %>" />
        <% if(person.duration === '3 Months'){ %>
          <input type="hidden" name="firstPaidAmount" value="<%= ((person.amount - person.advancePayment) / 3).toFixed(2) %>" />
        <% }else{ %>
          <input type="hidden" name="firstPaidAmount" value="<%= ((person.amount - person.advancePayment) / 2).toFixed(2) %>" />
        <% } %>
        <input type="hidden" name="firstPaidDate" value="<%= new Date()  %>"/>
        <div>
          <label for="firstPaymentStatus">Status: <span>*</span></label>
          <select name="firstPaymentStatus" id="" required>
            <option disabled selected>Select a status</option>
            <option value="Paid">Paid</option>
          </select>
        </div>
        <button type="submit">Change</button>
      </form>
    </div>
    <!-- First Payment Status Modal -->

    <!-- Second Payment Status Modal -->
    <div class="modal" id="paymentStatusModal2">
      <div class="modal-head">
        <h3>Change payment status</h3>
        <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
      </div>
      <form action="/solarEmiPaymentStatus" method="POST">
        <input type="hidden" name="id" value="<%= person._id %>" />
        <% if(person.duration === '3 Months'){ %>
          <input type="hidden" name="firstPaidAmount" value="<%= ((person.amount - person.advancePayment) / 3).toFixed(2) %>" />
        <% }else{ %>
          <input type="hidden" name="firstPaidAmount" value="<%= ((person.amount - person.advancePayment) / 2).toFixed(2) %>" />
        <% } %>
        <input type="hidden" name="secondPaidDate" value="<%= new Date()  %>"/>
        <div>
          <label for="secondPaymentStatus">Status: <span>*</span></label>
          <select name="secondPaymentStatus"  required>
            <option disabled selected>Select a status</option>
            <option value="Paid">Paid</option>
          </select>
        </div>
        <button type="submit">Change</button>
      </form>
    </div>
    <!-- Second Payment Status Modal -->

    <!-- Third Payment Status Modal -->
    <div class="modal" id="paymentStatusModal3">
      <div class="modal-head">
        <h3>Change payment status</h3>
        <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
      </div>
      <form action="/solarEmiPaymentStatus" method="POST">
        <input type="hidden" name="id" value="<%= person._id %>" />
        <input type="hidden" name="thirdPaidAmount" value="<%= ((person.amount - person.advancePayment) / 3).toFixed(2) %>" />
        <input type="hidden" name="thirdPaidDate" value="<%= new Date()  %>"/>
        <div>
          <label for="thirdPaymentStatus">Status: <span>*</span></label>
          <select name="thirdPaymentStatus" id="" required>
            <option disabled selected>Select a status</option>
            <option value="Paid">Paid</option>
          </select>
        </div>
        <button type="submit">Change</button>
      </form>
    </div>
    <!-- Third Payment Status Modal -->


    <table class="emi-table">
      <tr>
        <th>Main Balance</th>
        <th>Advance</th>
        <th>Installment</th>
        <th>Amount Paid</th>
        <th>Payment Status</th>
        <th>Balance Remaining</th>
        <th>Paid date</th>
        <th>Next Payment date</th>
      </tr>
      <tr>
        <td rowspan="3" id="mainBal"><%= person.amount %></td>
        <td rowspan="3" id="advPaid"><%= person.advancePayment %></td>
        <td>1</td>

        <!-- First paid ammount -->
        <td class="editable_cell1">
        </td>
        <!-- First paid ammount -->


        <td class="editable_cell"><%= person.firstPaymentStatus %>
          <a href="javascript:void(0)" id="openThirdPaymentModal" class="edit"><i class="fas fa-edit"></i></a>
        </td>

        <!-- First Remaining Bal -->
        <% if(person.firstPaymentStatus == "Paid") { %>
          <td><%= person.amount - person.advancePayment - person.firstPaidAmount %></td>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %> 
        <!-- First Remaining Bal -->

        <!-- First paid date -->
        <% if(person.firstPaidDate) { %>
          <td><%= person.firstPaidDate.toLocaleDateString() %></td>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %> 
        <!-- First paid date -->

        <!-- First next payment date -->
        <% if(person.firstNextPaymentDate) { %>
          <td><%= person.firstNextPaymentDate.toLocaleDateString() %></td>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %>
        <!-- First next payment date -->
      </tr>

      <tr>
        <td>2</td>
        <!-- Second amount paid -->
          <td class="editable_cell1" >
          </td>
        <!-- Second amount paid -->

        <td class="editable_cell"><%= person.secondPaymentStatus %>
          <a href="javascript:void(0)" id="openThirdPaymentModal" class="edit"><i class="fas fa-edit"></i></a>
        </td>

        <!-- Second remaining bal -->
        <% if(person.secondPaymentStatus == "Paid") { %>
          <td><%= person.amount - person.advancePayment - person.firstPaidAmount - person.secondPaidAmount %></td>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %> 
        <!-- Second remaining bal -->

        <!-- Second Paid Date -->
        <% if(person.secondPaidDate) { %>
          <td><%= person.secondPaidDate.toLocaleDateString() %></td>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %> 
        <!-- Second Paid Date -->

        <!-- Second next payment date -->

        <% if(person.duration === "3 Months") { %>
          <% if(person.secondNextPaymentDate) { %>
            <td><%= person.secondNextPaymentDate.toLocaleDateString() %></td>
          <% }else{ %>
            <td style="background-color: #ccc;"></td>
          <% } %>
        <% } %>
      </tr>
        <!-- Second next payment date -->


        
      <% if(person.duration === '3 Months'){ %>
      <tr>
        <td>3</td>

        <!-- Third paid amount -->
          <td class="editable_cell1">
          </td>
        <!-- Third paid amount -->

        <td class="editable_cell"><%= person.thirdPaymentStatus %>
          <a href="javascript:void(0)" id="openThirdPaymentModal" class="edit"><i class="fas fa-edit"></i></a>
        </td>

        <!-- Third remaining bal -->
        <% if(person.thirdPaymentStatus == "Paid") { %>
          <td><%= person.amount - person.advancePayment - person.firstPaidAmount - person.secondPaidAmount - person.thirdPaidAmount %></td>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %> 
        <!-- Third remaining bal -->

        <!-- Third paid date -->
        <% if(person.thirdPaidDate) { %>
          <td><%= person.thirdPaidDate.toLocaleDateString() %></td>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %> 
        <!-- Third paid date -->
      </tr>
      <% } %>

    </table>
  </div>
</div>
<%- include('../partials/footer') -%>
