<%- include('../partials/header') -%> 
<%- include('../partials/navbar') -%>
<div class="emi-wrapper">
  <div class="wp-wrapper">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/wp">Water Purifier</a></li>
      <li><a href="/wpTotalSales">Total Sales</a></li>
      <li>Check Emi</li>
    </ul>
    <h2><%= person.customerName %>'s EMI representation</h2>

    <input type="hidden" id="duration" value="<%= person.duration %>" />
    <input type="hidden" value="<%= person.duration %>" id="duration" />

    <div class="modal" id="firstPaymentModal">
      <div class="modal-head">
        <h3>First Payment</h3>
        <a href="javascript:void(0)" class="close" id="hideModal"
          ><span><i class="fas fa-times"></i></span
        ></a>
      </div>
      <form action="/firstPyament" method="POST">
        <input type="hidden" name="id" value="<%= person._id %>" />
        <input
          type="hidden"
          name="paidDate"
          value="<%= new Date().toLocaleDateString()  %>"
        />
        <div>
          <label for="firstPayment">First Payment:</label>
          <input type="number" name="firstPayment" required />
        </div>
        <div>
          <label for="firstPaymentDate">Next Payment Date:</label>
          <input type="date" name="firstPaymentDate" required />
        </div>
        <button type="submit">Add</button>
      </form>
    </div>

    <div class="modal" id="secondPaymentModal">
      <div class="modal-head">
        <h3>Second Payment</h3>
        <a href="javascript:void(0)" class="close" id="hideModal"
          ><span><i class="fas fa-times"></i></span
        ></a>
      </div>
      <form action="/secondPayment" method="POST">
        <input type="hidden" name="id" value="<%= person._id %>" />
        <input
          type="hidden"
          name="paidDate"
          value="<%= new Date().toLocaleDateString()  %>"
        />
        <div>
          <label for="secondPayment">Second Payment:</label>
          <input type="number" name="secondPayment" required />
        </div>
        <div>
          <label for="secondPaymentDate">Next Payment Date:</label>
          <input type="date" name="secondPaymentDate" required />
        </div>
        <button type="submit">Add</button>
      </form>
    </div>

    <div class="modal" id="thirdPaymentModal">
      <div class="modal-head">
        <h3>Third Payment</h3>
        <a href="javascript:void(0)" class="close" id="hideModal"
          ><span><i class="fas fa-times"></i></span
        ></a>
      </div>
      <form action="/thirdPyament" method="POST">
        <input type="hidden" name="id" value="<%= person._id %>" />
        <input type="hidden" name="paidDate" value="<%= new Date().toLocaleDateString()  %>"/>
        <div>
          <label for="thirdPayment">Third Payment:</label>
          <input type="number" name="thirdPayment" required />
        </div>
        <button type="submit">Add</button>
      </form>
    </div>

    <table class="emi-table">
      <tr>
        <th>Main Balance</th>
        <th>Advance</th>
        <th>Installment</th>
        <th>Paid</th>
        <th>Balance Remaining</th>
        <th>Paid date</th>
        <th>Next Payment date</th>
      </tr>
      <tr>
        <td rowspan="3" id="mainBal"><%= person.amount %></td>
        <td rowspan="3" id="advPaid"><%= person.advancePayment %></td>
        <td>1</td>

        <% if(person.firstPayment) { %>
        <td class="editable_cell">
          <%= person.firstPayment %>
          <a href="javascript:void(0)" id="openFirstPaymentModal" class="edit"><i class="fas fa-edit"></i></a>
        </td>
        <% }else{ %>
        <td class="editable_cell">
          <a href="javascript:void(0)" id="openFirstPaymentModal" class="edit"><i class="fas fa-edit"></i></a>
        </td>
        <% } %> 

        <% if(person.firstPayment) { %>
          <td><%= person.amount - person.advancePayment - person.firstPayment %></td>
        <% }else{ %>
          <td><%= person.amount - person.advancePayment %></td>
        <% } %> 

        <% if(person.firstPaidDate) { %>
          <td><%= person.firstPaidDate.toLocaleDateString() %></td>
        <% }else{ %>
          <td></td>
        <% } %> 

        <% if(person.firstPaymentDate) { %>
          <td><%= person.firstPaymentDate.toLocaleDateString() %></td>
        <% }else{ %>
          <td></td>
        <% } %>
      </tr>

      <tr>
        <td>2</td>
        <% if(person.secondPayment) { %>
          <td class="editable_cell" style="padding-right: 20px"><%= person.secondPayment %>
            <a href="javascript:void(0)" id="openSecondPaymentModal" class="edit"><i class="fas fa-edit"></i></a>
          </td>
        <% }else{ %>
          <td class="editable_cell" style="padding-right: 20px">
            <a href="javascript:void(0)" id="openSecondPaymentModal" class="edit"><i class="fas fa-edit"></i></a>
          </td>
        <% } %> 

        <% if(person.secondPayment) { %>
          <td><%= person.amount - person.advancePayment - person.firstPayment - person.secondPayment %></td>
        <% }else{ %>
          <td></td>
        <% } %> 

        <% if(person.secondPaidDate) { %>
          <td><%= person.secondPaidDate.toLocaleDateString() %></td>
        <% }else{ %>
          <td></td>
        <% } %> 

        <% if(person.secondPaymentDate) { %>
          <td><%= person.secondPaymentDate.toLocaleDateString() %></td>
        <% }else{ %>
          <td></td>
        <% } %>
      </tr>


      <% if(person.duration === '3 Months'){ %>
      <tr>
        <td>3</td>

        <% if(person.thirdPayment) { %>
          <td class="editable_cell"><%= person.thirdPayment %>
            <a href="javascript:void(0)" id="openThirdPaymentModal" class="edit"><i class="fas fa-edit"></i></a>
          </td>
        <% }else{ %>
          <td class="editable_cell">
            <a href="javascript:void(0)" id="openThirdPaymentModal" class="edit"><i class="fas fa-edit"></i></a>
          </td>
        <% } %> 

        <% if(person.thirdPayment) { %>
          <td><%= person.amount - person.advancePayment - person.firstPayment - person.secondPayment - person.thirdPayment %></td>
        <% }else{ %>
          <td></td>
        <% } %> 

        <% if(person.thirdPaidDate) { %>
          <td><%= person.thirdPaidDate.toLocaleDateString() %></td>
        <% }else{ %>
          <td></td>
        <% } %> 
      </tr>
      <% } %>

    </table>
  </div>
</div>
<%- include('../partials/footer') -%>
