<%- include('../partials/header') -%> 
<%- include('../partials/navbar') -%>
<div class="emi-wrapper"> 
  <div class="wp-wrapper">
    <!-- <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/wp">Water Purifier</a></li>
      <li><a href="/wpTotalSales">Total Sales</a></li>
      <li>Check Emi</li>
    </ul> -->
    <h2><%= person.customerName %>'s EMI representation</h2>

    <input type="hidden" id="duration" value="<%= person.duration %>" />
    
    <!-- First Payment Status Modal -->
    <div class="modal" id="paymentStatusModal1">
      <div class="modal-head">
        <h3>Change payment status</h3>
        <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
      </div>
      <form action="/emiPaymentStatus" method="POST">
        <input type="hidden" name="id" value="<%= person._id %>" />
        <% if(person.duration === '3 Months'){ %>
          <input type="hidden" name="firstPaidAmount" value="<%= ((person.amount - person.advancePayment) / 3).toFixed(2) %>" />
        <% }else{ %>
          <input type="hidden" name="firstPaidAmount" value="<%= ((person.amount - person.advancePayment) / 2).toFixed(2) %>" />
        <% } %>
        <input type="hidden" name="firstPaidDate" value="<%= new Date()  %>"/>
        <div>
          <label for="firstPaymentStatus">Status: <span>*</span></label>
          <select name="firstPaymentStatus" id="" required>
            <option disabled selected>Select a status</option>
            <option value="Paid">Paid</option>
          </select>
        </div>
        <div>
          <label for="totalOutstanding1" id="totalOutstanding">Pay The Total outstanding</label>
          <input type="checkbox" name="totalOutstanding1" id="">
        </div>
        <div>
          <label for="">Payment Mode</label>
          <select name="firstPaymentMode" id="" required>
            <option selected disabled>Select</option>
            <option value="Cash">Cash</option>
            <option value="Cheque">Cheque</option>
          </select>
        </div>
        <div>
          <label for="firstPaidAmountOptional">Amount Paid (Optional)</label>
          <input type="number" name="firstPaidAmountOptional" id="firstPaidAmountOptional">
        </div>
        <div>
          <label for="firstPaidDateOptional">Paid Date (Optional)</label>
          <input type="date" name="firstPaidDateOptional" >
        </div>
        <button type="submit">Change</button>
      </form>
    </div>
    <!-- First Payment Status Modal -->

    <!-- Second Payment Status Modal -->
    <div class="modal" id="paymentStatusModal2">
      <div class="modal-head">
        <h3>Change payment status</h3>
        <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
      </div>
      <form action="/emiPaymentStatus" method="POST">
        <input type="hidden" name="id" value="<%= person._id %>" />
        <% if(person.duration === '3 Months'){ %>
          <input type="hidden" name="secondPaidAmount" value="<%= ((person.amount - person.advancePayment) / 3).toFixed(2) %>" />
        <% }else{ %>
          <input type="hidden" name="secondPaidAmount" value="<%= ((person.amount - person.advancePayment) / 2).toFixed(2) %>" />
        <% } %>
        <input type="hidden" name="secondPaidDate" value="<%= new Date()  %>"/>
        <div>
          <label for="secondPaymentStatus">Status: <span>*</span></label>
          <select name="secondPaymentStatus"  required>
            <option disabled selected>Select a status</option>
            <option value="Paid">Paid</option>
          </select>
        </div>
        <div>
          <label for="totalOutstanding2" id="totalOutstanding">Pay The Total outstanding</label>
          <input type="checkbox"  name="totalOutstanding2" id="">
        </div>
        <div>
          <label for="">Payment Mode</label>
          <select name="secondPaymentMode" id="" required>
            <option selected disabled>Select</option>
            <option value="Cash">Cash</option>
            <option value="Cheque">Cheque</option>
          </select>
        </div>
        <div>
          <label for="secondPaidAmountOptional">Amount Paid (Optional)</label>
          <input type="number" name="secondPaidAmountOptional" id="secondPaidAmountOptional">
        </div>
        <div>
          <label for="secondPaidDateOptional">Paid Date (Optional)</label>
          <input type="date" name="secondPaidDateOptional" >
        </div>
        <button type="submit">Change</button>
      </form>
    </div>
    <!-- Second Payment Status Modal -->

    <!-- Third Payment Status Modal -->
    <div class="modal" id="paymentStatusModal3">
      <div class="modal-head">
        <h3>Change payment status</h3>
        <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
      </div>
      <form action="/emiPaymentStatus" method="POST">
        <input type="hidden" name="id" value="<%= person._id %>" />
        <input type="hidden" name="thirdPaidAmount" value="<%= ((person.amount - person.advancePayment) / 3).toFixed(2) %>" />
        <input type="hidden" name="thirdPaidDate" value="<%= new Date()  %>"/>
        <div>
          <label for="thirdPaymentStatus">Status: <span>*</span></label>
          <select name="thirdPaymentStatus" id="" required>
            <option disabled selected>Select a status</option>
            <option value="Paid">Paid</option>
          </select>
        </div>
        <div>
          <label for="totalOutstanding3" id="totalOutstanding">Pay The Total outstanding</label>
          <input type="checkbox"  name="totalOutstanding3" id="">
        </div>
        <div>
          <label for="thirdPaymentMode">Payment Mode</label>
          <select name="thirdPaymentMode" id="" required>
            <option selected disabled>Select</option>
            <option value="Cash">Cash</option>
            <option value="Cheque">Cheque</option>
          </select>
        </div>
        <div>
          <label for="thirdPaidAmountOptional">Amount Paid (Optional)</label>
          <input type="number" name="thirdPaidAmountOptional" id="thirdPaidAmountOptional">
        </div>
        <div>
          <label for="thirdPaidDateOptional">Paid Date (Optional)</label>
          <input type="date" name="thirdPaidDateOptional" >
        </div>
        <button type="submit">Change</button>
      </form>
    </div>
    <!-- Third Payment Status Modal -->


    <table class="emi-table">
      <tr>
        <th>Main Balance</th>
        <th>Advance</th>
        <th>Installment</th>
        <th>Emi Amount</th>
        <th>Payment Status</th>
        <th>Amount Paid</th>
        <th>Balance Remaining</th>
        <th>Emi date</th>
        <th>Paid date</th>
        <th>Next Payment date</th>
      </tr>
      <tr>
        <td rowspan="3" id="mainBal"><%= person.amount %></td>
        <td rowspan="3" id="advPaid"><%= person.advancePayment %></td>
        <td>1</td>

        <!-- First emi ammount -->
        <td class="editable_cell1">
        </td>
        <!-- First emi ammount -->

        <!-- First Payment Status -->
        <td class="editable_cell"><%= person.firstPaymentStatus %>
          <a href="javascript:void(0)" id="openThirdPaymentModal" class="edit"><i class="fas fa-edit"></i></a>
        </td>
        <!-- First Payment Status -->

        <!-- First Amount Paid -->
        <% if(person.firstPaidAmount){ %>
          <% if(person.dueAmountsCleared1) { %>
            <td><%= person.amount - person.advancePayment %></td>
          <% }else{ %>
            <td id="paidAmt1"><%= person.firstPaidAmount %></td>
          <% } %>
        <% }else{ %>
          <td style="background-color: #ccc;" id="paidAmt1"></td>
        <% } %>
        <!-- First Amount Paid -->

        <!-- First Remaining Bal -->
        <% if(person.firstPaymentStatus == "Paid") { %>
          <% if(person.dueAmountsCleared1 == true){ %>
            <td>0</td>
          <% }else{ %>
            <td><%= person.amount - person.advancePayment - person.firstPaidAmount %></td>
          <% } %>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %> 
        <!-- First Remaining Bal -->

        <!-- Emi Date -->
        <td><%= person.firstEmiDate.toLocaleDateString() %></td>
        <!-- Emi Date -->

        <!-- First paid date -->
        <% if(person.firstPaidDate) { %>
          <td><%= person.firstPaidDate.toLocaleDateString() %></td>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %> 
        <!-- First paid date -->

        <!-- First next payment date -->
        <% if(person.firstNextPaymentDate) { %>
          <% if(person.dueAmountsCleared1 == true){ %>
            <td></td>
          <% }else{ %>
            <td><%= person.firstNextPaymentDate.toLocaleDateString() %></td>
          <% } %>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %>
        <!-- First next payment date -->
      </tr>

      <tr>
        <td>2</td>
        <!-- Second emi paid -->
          <td class="editable_cell1" >
          </td>
        <!-- Second emi paid -->

        <!-- Second Payment Status -->
        <td class="editable_cell"><%= person.secondPaymentStatus %>
          <a href="javascript:void(0)" id="openThirdPaymentModal" class="edit"><i class="fas fa-edit"></i></a>
        </td>
        <!-- Second Payment Status -->

        

        <!-- Second Amount Paid -->
        <% if(person.secondPaidAmount){ %>
          <% if(person.dueAmountsCleared2) { %>
            <td><%= person.amount - person.advancePayment - person.firstPaidAmount %></td>
          <% }else{ %>
            <td id="paidAmt2"><%= person.secondPaidAmount %></td>
          <% } %>
        <% }else{ %>
          <td style="background-color: #ccc;" id="paidAmt2"></td>
        <% } %>
        <!-- Second Amount Paid -->

        <!-- Second remaining bal -->
        <% if(person.secondPaymentStatus == "Paid") { %>
          <% if(person.dueAmountsCleared2 == true){ %>
            <td>0</td>
          <% }else{ %>
            <td><%= person.amount - person.advancePayment - person.firstPaidAmount - person.secondPaidAmount %></td>
          <% } %>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %> 
        <!-- Second remaining bal -->

        <!-- Emi Date -->
        <td><%= person.secondEmiDate.toLocaleDateString() %></td>
        <!-- Emi Date -->

        <!-- Second Paid Date -->
        <% if(person.secondPaidDate) { %>
          <td><%= person.secondPaidDate.toLocaleDateString() %></td>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %> 
        <!-- Second Paid Date -->

        <!-- Second next payment date -->
        <% if(person.duration === "3 Months") { %>
          <% if(person.secondNextPaymentDate) { %>
            <% if(person.dueAmountsCleared2 == true){ %>
              <td></td>
            <% }else{ %>
              <td><%= person.secondNextPaymentDate.toLocaleDateString() %></td>
            <% } %>
          <% }else{ %>
            <td style="background-color: #ccc;"></td>
          <% } %>
        <% } %>
      </tr>
        <!-- Second next payment date -->

        <% if(person.duration == "2 Months"){ %>
          <!-- Paid all true -->
          <% if(person.dueAmountsCleared2){ %>
            <td style="background-color: green; color: #fff;">All Paid</td>
          <% } %>
          <!-- Paid all true -->
        <% } %>
      


        
      <% if(person.duration === '3 Months'){ %>
      <tr>
        <td>3</td>

        <!-- Third emi amount -->
          <td class="editable_cell1">
          </td>
        <!-- Third emi amount -->

        <!-- Third Payment Status -->
        <td class="editable_cell"><%= person.thirdPaymentStatus %>
          <a href="javascript:void(0)" id="openThirdPaymentModal" class="edit"><i class="fas fa-edit"></i></a>
        </td>
        <!-- Third Payment Status -->

        <!-- Third Amount Paid -->
        <% if(person.thirdPaidAmount){ %>
          <% if(person.dueAmountsCleared3) { %>
            <td><%= person.amount - person.advancePayment - person.firstPaidAmount - person.secondPaidAmount %></td>
          <% }else{ %>
            <td id="paidAmt3"><%= person.thirdPaidAmount %></td>
          <% } %>
        <% }else{ %>
          <td style="background-color: #ccc;" id="paidAmt3"></td>
        <% } %>
        <!-- Third Amount Paid -->

        <!-- Third remaining bal -->
        <% if(person.thirdPaymentStatus == "Paid") { %>
          <% if(person.dueAmountsCleared2 == true){ %>
            <td>0</td>
          <% }else{ %>
            <td><%= person.amount - person.advancePayment - person.firstPaidAmount - person.secondPaidAmount - person.thirdPaidAmount %></td>
          <% } %>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %> 
        <!-- Third remaining bal -->

        <!-- Emi Date -->
        <td><%= person.thirdEmiDate.toLocaleDateString() %></td>
        <!-- Emi Date -->

        <!-- Third paid date -->
        <% if(person.thirdPaidDate) { %>
          <td><%= person.thirdPaidDate.toLocaleDateString() %></td>
        <% }else{ %>
          <td style="background-color: #ccc;"></td>
        <% } %> 
        <!-- Third paid date -->

        <!-- Paid all true -->
        <% if(person.dueAmountsCleared3 || person.dueAmountsCleared2 || person.dueAmountsCleared1){ %>
          <td style="background-color: green; color: #fff;">All Paid</td>
        <% } %>
        <!-- Paid all true -->
      </tr>
      <% } %>

    </table>
  </div>
</div>
<%- include('../partials/footer') -%>
