<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="wp-wrapper"> 
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/wp">Water Purifier</a></li>
    <li>Number of services pending</li>
</ul>
    <div class="wp-inner">
      <div style="margin-top: 10px;">
        <input type="text" class="filterTable" onkeyup="filterTextTable(this, 'wpTable', 1)" placeholder="Search With Name">
        <select class="filterTable" onchange="filterTextTable(this, 'wpTable', 7)" >
          <option selected disabled>Search with status</option>
          <option value="Completed">Completed</option>
          <option value="Pending">Pending</option>
        </select>
      </div>
            <div class="modal" id="serviceStatusModal">
              <div class="modal-head">
                <h3>No of pending services form</h3>
                <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
              </div>               
                <form action="/wpServicesPending" method="POST">
                    <div>
                        <label for="custId">Status: <span>*</span></label>
                        <select name="status" required id="serviceStatusDropDown">
                          <option selected disabled>Select a status</option>
                          <option value="Pending">Pending</option>
                          <option value="Completed">Completed</option>
                        </select>
                    </div>
                    <input type="hidden" name="id">
                    <button type="submit">Update</button>
                </form>
            </div>

            <table class="wptable" id="wpTable">
                <tr>
                  <th>Customer Id</th>
                  <th>Customer name</th>
                  <th>Ph Number</th>
                  <th>Address</th>
                  <th>Installation Date</th>
                  <th>Installation Executive</th>
                  <th>Status</th> 
                  <th>Next Servicing Date</th>
                  <th>Latest Servicing Date</th> 
                </tr> 
                <% if(clients.length > 0) { %>
                  <% clients.forEach((service, index) => { %>
                    <tr>
                      <td><%= service.customerId %></td>
                      <td><%= service.customerName %></td>
                      <td><%= service.phoneNumber %></td>
                      <td><%= service.address %></td>
                      <td><%= service.installationDate.toLocaleDateString() %></td>
                      <td><%= service.installationExecutive %></td>
                      <td class="editable_cell"><%= service.serviceStatus %>
                        <a href="javascript:void(0)" class="editServiceBtn edit">
                          <input type="hidden" name="id" value="<%= service._id %>">
                          <i class="fas fa-edit"></i>
                        </a>
                      </td>
                      <td><%= new Date(service.nextDates[service.nextDates.length - 1]).toLocaleDateString() %></td>
                      <% if(service.nextDates[service.nextDates.length - 2] !== undefined){  %>
                        <td><%= new Date(service.nextDates[service.nextDates.length - 2]).toLocaleDateString() %></td>
                      <% }else{ %>
                        <td style="background-color: #ccc;"></td>
                      <% } %>
                    </tr>
                  <% }) %>
                <% } %>
              </table>
    </div>
</div>
<%- include('../partials/footer') -%>