<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="wp-wrapper"> 
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/wp">Water Purifier</a></li>
    <li>Number of services pending</li>
</ul>
    <div class="wp-inner" id="printable">
      <div style="margin-top: 10px;">
        <input type="text" class="filterTable" onkeyup="filterTextTable(this, 'wpTable', 1)" placeholder="Search With Name">
        <button class="downloadAsPdf" id="downloadAsExcel" onclick="downloadPageAsExcel('wpTable')">Download table as excel <i class="far fa-file-excel"></i></button>
        <button class="downloadAsPdf" onclick="downloadPageAsPdf('printable')">Download page as pdf <i class="far fa-file-pdf"></i></button>
        <button onclick="printPageArea('printable')" class="downloadAsPdf">Print this page</button>
      </div>
            <div class="modal" id="serviceStatusModal">
              <div class="modal-head">
                <h3>No of pending services form</h3>
                <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
              </div>               
                <form action="/editService1" method="POST">
                  <div>
                    <label for="status">Change Status <span>*</span></label>
                    <select name="status" required>
                        <option disabled selected>Select</option>
                        <option value="Completed">Completed</option>
                    </select>
                  </div>
                  <input type="hidden" name="id">
                  <div>
                    <label for="serviceExec">Servicing Executive Name <span>*</span></label>
                    <input type="text" name="serviceExec" required>
                  </div>
                  <div>
                    <label for="serviceDate">Servicing Date <span>*</span></label>
                    <input type="date" name="serviceDate" required>
                  </div>
                  <div>
                    <label for="remark">Remarks </label>
                    <input type="text" name="remark" >
                  </div>
                    <button type="submit">Update</button>
                </form>
            </div>

            <table class="wptable" id="wpTable">
                <tr>
                  <th>Customer Id</th>
                  <th>Customer name</th>
                  <th>Ph Number</th>
                  <th>Address</th>
                  <th>Installation Date</th>
                  <th>Installation Executive</th>
                  <th colspan="8" style="text-align: center;">Services</th>
                </tr> 
                <% if(clients.length > 0) { %>
                  <% clients.forEach((service, index) => { %>
                    <tr>
                      <td rowspan="<%= service.services.length + 1 %>"><%= service.customerId %></td>
                      <td rowspan="<%= service.services.length + 1 %>"><%= service.customerName %></td>
                      <td rowspan="<%= service.services.length + 1 %>"><%= service.phoneNumber %></td>
                      <td rowspan="<%= service.services.length + 1 %>"><%= service.address %></td>
                      <td rowspan="<%= service.services.length + 1 %>"><%= service.installationDate.toLocaleDateString() %></td>
                      <td rowspan="<%= service.services.length + 1 %>"><%= service.installationExecutive %></td>
                      <td class="th2">S.No</td>
                      <td class="th2">Service Due Date</td>
                      <td class="th2">Service Status</td>
                      <td class="th2">Service Date</td>
                      <td class="th2">Next Service Date</td>
                      <td class="th2">Service Executive</td>
                      <td class="th2">Remarks</td>
                      <td class="th2">Delete</td>
                    </tr>
                    <!-- Services -->
                    <% service.services.forEach((ser, ind) => { %>
                      <tr>
                        <td ><%= ind + 1 %></td>
                        <td ><%= new Date(ser.DueServiceDate).toLocaleDateString() %></td>

                        <% if(ser.ServiceStatus == "Pending"){ %>
                          <td class="editable_cell"><%= ser.ServiceStatus %>
                            <a href="javascript:void(0)" class="editServiceBtn edit">
                              <input type="hidden" name="id" value="<%= service._id %>">
                              <i class="fas fa-edit"></i>
                            </a>
                          </td>
                        <% }else{ %>
                          <td><%= ser.ServiceStatus %></td>
                        <% } %>
                        

                        <% if(ser.ServicingDate !== ""){ %>
                          <td><%= new Date(ser.ServicingDate).toLocaleDateString() %></td>
                        <% }else{ %>
                          <td></td>
                        <% } %>

                        <% if(ser.ServiceNextDate !== ""){ %>
                          <td><%= new Date(ser.ServiceNextDate).toLocaleDateString() %></td>
                        <% }else{ %>
                          <td></td>
                        <% } %>

                        <td ><%= ser.ServicingExecutive %></td>
                        <td ><%= ser.ServicingRemark %></td>

                        <% if(service.services.length !== 1 && ind+1 !== service.services.length){ %>
                          <td class="action-cell" rowspan="3">
                            <form action="/deleteService" method="POST">
                                <input type="hidden" name="id" value="<%= service._id%>">
                                <input type="hidden" name="index" value="<%= ind %>">
                                <button title="Delete" class="delete-row"><i class="fas fa-trash"></i></button>
                            </form>
                          </td>
                        <% }else{ %>
                          <td></td>
                        <% } %>
                      </tr>
                    <% }) %>
                    
                  <% }) %>
                <% } %>
              </table>
    </div>
</div>
<%- include('../partials/footer') -%>