<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="wp-wrapper"> 
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/wp">Water Purifier</a></li>
    <li>Number of services pending</li>
</ul>
    <div class="wp-inner" id="printable">
      <div style="margin-top: 10px;">
        <input type="text" class="filterTable" onkeyup="filterTextTable(this, 'wpTable', 1)" placeholder="Search With Name">
        <input type="number" class="filterTable" onkeyup="filterNumberTable(this, 'wpTable', 2)" placeholder="Search With Phone Number">
        <input type="text" class="filterTable" onkeyup="filterTextTable(this, 'wpTable', 6)" placeholder="Next Service Date">
        <button class="downloadAsPdf" id="downloadAsExcel" onclick="downloadPageAsExcel('wpTable')">Download table as excel <i class="far fa-file-excel"></i></button>
        <button class="downloadAsPdf" onclick="downloadPageAsPdf('printable')">Download page as pdf <i class="far fa-file-pdf"></i></button>
        <button onclick="printPageArea('printable')" class="downloadAsPdf">Print this page</button> 
      </div>
            <div class="modal" id="serviceStatusModal">
              <div class="modal-head">
                <h3>No of pending services form</h3>
                <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
              </div>               
                <form action="/editService1" method="POST">
                  <div>
                    <label for="status">Change Status <span>*</span></label>
                    <select name="status" required>
                        <option disabled selected>Select</option>
                        <option value="Completed">Completed</option>
                    </select>
                  </div>
                  <input type="hidden" name="id">
                  <div>
                    <label for="serviceExec">Servicing Executive Name <span>*</span></label>
                    <input type="text" name="serviceExec" required>
                  </div>
                  <div>
                    <label for="serviceDate">Servicing Date <span>*</span></label>
                    <input type="date" name="serviceDate" required>
                  </div>
                  <div>
                    <label for="remark">Remarks </label>
                    <input type="text" name="remark" >
                  </div>
                    <button type="submit">Update</button>
                </form>
            </div>

            <table class="wptable" id="wpTable">
                <tr>
                  <th>Customer Id</th>
                  <th>Customer name</th>
                  <th>Ph Number</th>
                  <th>Address</th>
                  <th>Installation Date</th> 
                  <th>Installation Executive</th>
                  <th>Next Service Date</th>
                  <th colspan="8" style="text-align: center;">Services</th>
                </tr> 
                <% if(clients.length > 0) { %>
                  <% clients.forEach((service, index) => { %>

                    <% if(service.services.length >= 2){ %>
                      <tr>
                        <td rowspan="3"><%= service.customerId %></td>
                        <td rowspan="3"><%= service.customerName %></td>
                        <td rowspan="3"><%= service.phoneNumber %></td>
                        <td rowspan="3"><%= service.address %></td>
                        <td rowspan="3"><%= service.installationDate.getMonth() + 1 %>/<%= service.installationDate.getDate() %>/<%= service.installationDate.getFullYear() %></td>
                        <td rowspan="3"><%= service.installationExecutive %></td>
                        <td rowspan="3">
                          <% service.services.forEach(obj => { %>
                            <% if(obj.ServiceStatus == "Pending"){ %>
                              <%= new Date(obj.DueServiceDate).getMonth() + 1 %>/<%= new Date(obj.DueServiceDate).getDate() %>/<%= new Date(obj.DueServiceDate).getFullYear() %>
                            <% } %>
                          <% }) %>
                        </td>
                        <td rowspan="3"><%= service.services.length %></td>
                        <td class="th2">Service Due Date</td>
                        <td class="th2">Service Status</td>
                        <td class="th2">Service Date</td>
                        <td class="th2">Next Service Date</td>
                        <td class="th2">Service Executive</td>
                        <td class="th2">Remarks</td>
                        <td class="th2">Delete</td>
                      </tr>
                    <% }else{ %>
                      <tr>
                        <td rowspan="2"><%= service.customerId %></td>
                        <td rowspan="2"><%= service.customerName %></td>
                        <td rowspan="2"><%= service.phoneNumber %></td>
                        <td rowspan="2"><%= service.address %></td>
                        <td rowspan="2"><%= service.installationDate.getMonth() + 1 %>/<%= service.installationDate.getDate() %>/<%= service.installationDate.getFullYear() %></td>
                        <td rowspan="2"><%= service.installationExecutive %></td>
                        <td rowspan="2">
                          <% service.services.forEach(obj => { %>
                            <% if(obj.ServiceStatus == "Pending"){ %>
                              <%= new Date(obj.DueServiceDate).getMonth() + 1 %>/<%= new Date(obj.DueServiceDate).getDate() %>/<%= new Date(obj.DueServiceDate).getFullYear() %>
                            <% } %>
                          <% }) %>
                        </td>
                        <td rowspan="2"><%= service.services.length %></td>
                        <td class="th2">Service Due Date</td>
                        <td class="th2">Service Status</td>
                        <td class="th2">Service Date</td>
                        <td class="th2">Next Service Date</td>
                        <td class="th2">Service Executive</td>
                        <td class="th2">Remarks</td>
                        <td class="th2">Delete</td>
                      </tr>
                    <% } %>
                    <!-- Services -->
                    <% if(service.services.length >= 2){ %>
                      <tr class="service-tr">

                        <!-- Service Due Date -->
                        <td><%= new Date(service.services[service.services.length - 2].DueServiceDate).getMonth() + 1 %>/<%= new Date(service.services[service.services.length - 2].DueServiceDate).getDate() %>/<%= new Date(service.services[service.services.length - 2].DueServiceDate).getFullYear() %></td>
                        <!-- Service Due Date -->

                        <!-- Service Status -->
                        <td><%= service.services[service.services.length - 2].ServiceStatus %></td>
                        <!-- Service Status -->

                        <!-- Servicing Date -->
                          <td><%= new Date(service.services[service.services.length - 2].ServicingDate).getMonth() + 1 %>/<%= new Date(service.services[service.services.length - 2].ServicingDate).getDate() %>/<%= new Date(service.services[service.services.length - 2].ServicingDate).getFullYear() %></td>
                        <!-- Servicing Date -->

                        <!-- Next Servicing Date -->
                          <td><%= new Date(service.services[service.services.length - 2].ServiceNextDate).getMonth() + 1 %>/<%= new Date(service.services[service.services.length - 2].ServiceNextDate).getDate() %>/<%= new Date(service.services[service.services.length - 2].ServiceNextDate).getFullYear() %></td>
                        <!-- Next Servicing Date -->


                        <!-- Servicing Executive -->
                          <td><%= service.services[service.services.length - 2].ServicingExecutive %></td>
                        <!-- Servicing Executive -->


                        <!-- Remarks -->
                          <td><%= service.services[service.services.length - 2].ServicingRemark %></td>
                        <!-- Remarks -->

                        <!-- Delet -->
                        <td class="action-cell" rowspan="3">
                          <form action="/solarDeleteService" method="POST">
                              <input type="hidden" name="id" value="<%= service._id%>">
                              <input type="hidden" name="index" value="<%= service.services.length - 2 %>">
                              <button title="Delete" class="delete-row"><i class="fas fa-trash"></i></button>
                          </form>
                        </td>
                        <!-- Delet -->
                      </tr>

                      <!-- Last first -->
                      <tr class="service-tr">
                        <td><%= new Date(service.services[service.services.length - 1].DueServiceDate).getMonth() + 1 %>/<%= new Date(service.services[service.services.length - 1].DueServiceDate).getDate() %>/<%= new Date(service.services[service.services.length - 1].DueServiceDate).getFullYear() %></td>
                        <td class="editable_cell"><%= service.services[service.services.length - 1].ServiceStatus %>
                          <a href="javascript:void(0)" class="editServiceBtn edit">
                            <input type="hidden" name="id" value="<%= service._id %>">
                            <i class="fas fa-edit"></i>
                          </a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <% }else{ %>
                        <tr class="service-tr">
                        
                          <!-- Service Due Date -->
                          <td><%= new Date(service.services[0].DueServiceDate).getMonth() + 1 %>/<%= new Date(service.services[0].DueServiceDate).getDate() %>/<%= new Date(service.services[0].DueServiceDate).getFullYear() %></td>
                          <!-- Service Due Date -->
  
  
                          <!-- Service Status -->
                          <td class="editable_cell"><%= service.services[0].ServiceStatus %>
                            <a href="javascript:void(0)" class="editServiceBtn edit">
                              <input type="hidden" name="id" value="<%= service._id %>">
                              <i class="fas fa-edit"></i>
                            </a>
                          </td>
                          <!-- Service Status -->
  
  
                          <!-- Servicing Date -->
                          <% if(service.services[0].ServicingDate !== ''){ %>
                            <td>
                            <%= new Date(service.services[0].ServicingDate).getMonth() + 1 %>/<%= new Date(service.services[0].ServicingDate).getDate() %>/<%= new Date(service.services[0].ServicingDate).getFullYear() %>
                            </td>
                          <% }else{ %>
                            <td></td>
                          <% } %>
                          <!-- Servicing Date -->
  
  
                          <!-- Next Servicing Date -->
                          <% if(service.services[0].ServiceNextDate !== ''){ %>
                            <td>
                            <%= new Date(service.services[0].ServiceNextDate).getMonth() + 1 %>/<%= new Date(service.services[0].ServiceNextDate).getDate() %>/<%= new Date(service.services[0].ServiceNextDate).getFullYear() %>
                            </td>
                          <% }else{ %>
                            <td></td>
                          <% } %>
                          <!-- Next Servicing Date -->
  
  
                          <!-- Servicing Executive -->
                          <% if(service.services[0].ServicingExecutive !== ''){ %>
                            <td>
                            <%= service.services[0].ServicingExecutive %>
                            </td>
                          <% }else{ %>
                            <td></td>
                          <% } %>
                          <!-- Servicing Executive -->
  
  
                          <!-- Remarks -->
                          <% if(service.services[0].ServicingRemark !== ''){ %>
                            <td>
                            <%= service.services[0].ServicingRemark %>
                            </td>
                          <% }else{ %>
                            <td></td>
                          <% } %>
                          <!-- Remarks -->
  
                          <td></td>
                        </tr>
                      <% } %>

                  <% }) %>
                <% } %>
              </table>
    </div>
</div>
<%- include('../partials/footer') -%>