<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="wp-wrapper"> 
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/wp">Water Purifier</a></li>
    <li>Number of services pending</li>
</ul>
    <div class="wp-inner">
      <a href="javascript:void(0)" class="add">Add<span><i class="fas fa-plus"></i></span></a>
            <div class="modal" id="modal">
              <div class="modal-head">
                <h3>No of pending services form</h3>
                <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
              </div>               
                <form action="/wpServicesPending" method="POST">
                    <div>
                        <label for="custId">Customer Id:</label>
                        <input type="text" name="custId" required >
                    </div>
                    <div>
                        <label for="complainDetail">Complaint Details:</label>
                        <input type="text" name="complainDetail" required>
                    </div>
                    <div>
                        <label for="status">Status:</label>
                        <div class="radio-btn-wrapper"><label for="status">Completed</label> <input type="radio" name="status" value="Complete" > </div>
                        <div class="radio-btn-wrapper"><label for="status">Pending</label> <input type="radio" name="status" value="Pending" required> </div>
                    </div>
                    <button type="submit">Add</button>
                </form>
            </div>

            <table class="wptable">
                <tr>
                  <th>Customer Id</th>
                  <th>Customer name</th>
                  <th>Ph Number</th>
                  <th>Address</th>
                  <th>Installation Date</th>
                  <th>Installation Executive</th>
                  <th>Number of Pending Service</th>
                  <th>Number of Completed Service</th>
                </tr>
                <% if(services.length > 0) { %>
                  <% services.forEach((service, index) => { %>
                    <tr>
                      <td><%= service.customerId %></td>
                      <td><%= service.customerName %></td>
                      <td><%= service.phoneNumber %></td>
                      <td><%= service.address %></td>
                      <td><%= service.installationDate.toLocaleDateString() %></td>
                      <td><%= service.installationExecutive %></td>
                      <td><%= service.pendingServices.length %></td>
                      <td><%= service.completedServices.length %></td>
                    </tr>
                  <% }) %>
                <% } %>
              </table>
    </div>
</div>
<%- include('../partials/footer') -%>