<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="wp-wrapper"> 
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/wp">Water Purifier</a></li>
    <li>Stock Reports</li>
</ul>
    <div class="wp-inner" id="printable">
      <div style="margin-top: 10px;" >
        <input type="text" class="filterTable" onkeyup="filterTextTable(this, 'wpTable', 2)" placeholder="Product Name">
      </div>
      <button onclick="printPageArea('printable')" class="downloadAsPdf">Print this page</button>
      <button class="downloadAsPdf" onclick="downloadPageAsPdf('printable')">Download page as pdf <i class="far fa-file-pdf"></i></button> 
      <button class="downloadAsPdf" id="downloadAsExcel" onclick="downloadPageAsExcel('wpTable')">Download table as excel <i class="far fa-file-excel"></i></button>
      <a href="javascript:void(0)" class="add">Add<span><i class="fas fa-plus"></i></span></a>
            
            <!-- Stock inwards modal -->
            <div class="modal" id="modal">
              <div class="modal-head">
              <h3>Stock inwards form</h3>
              <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
              </div>               
              <form action="/wpAddStockInwards" method="POST">
                  <% if(user !== null){ %>
                    <input type="hidden" name="creatorName" value="<%= user.name %>">
                  <% } %>
                  <div>
                      <label for="prodName">Product Name: <span>*</span></label>
                      <input type="text" name="prodName" required>
                  </div>
                  <div>
                      <label for="noOfProd">Number of Products: <span>*</span></label>
                      <input type="number" name="noOfProd" required>
                  </div>
                  <div>
                      <label for="remark">Remarks:</label>
                      <input type="text" name="remark" >
                  </div>
                  <button type="submit">Add</button>
              </form>
            </div>
            <!-- Stock inwards modal -->

            <!-- No of products modal -->
            <div class="modal" id="noOfProductsModale">
              <div class="modal-head">
                <h3>Add more products</h3>
                <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
              </div>         
                <form action="/addMoreProduct" method="POST">
                  <div>
                    <label for="addMoreProduct">Number of products: <span>*</span></label>
                    <input type="number" name="addMoreProduct" required>
                  </div>
                  <input type="hidden" name="id">
                  <button type="submit">Add</button>
                </form>
            </div>
            <!-- No of products modal -->

            <!-- Remark Modal -->
            <div class="modal" id="updateRemarkModal">
              <div class="modal-head">
                <h3>Update remark</h3>
                <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
              </div>
              <form action="/stockRemark" method="POST">
                <div>
                  <label for="remark">Enter a remark:</label>
                  <input type="remark" name="remark" />
                </div>
                <input type="hidden" name="id" required />
                <button type="submit">Update</button>
              </form>
            </div>
            <!-- Remark Modal -->

            <!-- Remark Modal1 -->
            <!-- <div class="modal" id="updateRemarkModal1">
              <div class="modal-head">
                <h3>Update remark</h3>
                <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
              </div>
              <form action="/stockOutwardRemark" method="POST">
                <div>
                  <label for="remark">Enter a remark:</label>
                  <input type="remark" name="remark" />
                </div>
                <input type="hidden" name="id"  />
                <input type="hidden" name="index"  />
                <button type="submit">Update</button>
              </form>
            </div> -->
            <!-- Remark Modal1 -->

            <h3 class="tableHeadin">Stock Inwards</h3>
            <table class="wptable" id="wpTable">
                <tr>
                    <th>S.No</th>
                    <th>Creator Name</th>
                    <th>Product name</th>
                    <th>Number of Products</th>
                    <th>Stock Available</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr> 
                <% if(stocks.length > 0) { %>
                    <% stocks.forEach((stock, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td ><%= stock.creatorName %></td>
                        <td ><%= stock.productName %></td>
                        <td class="editable_cell" ><%= stock.numberOfProducts %>
                          <a href="javascript:void(0)" class="editNoOfProductsBtn edit">
                            <input type="hidden" name="id" value="<%= stock._id %>">
                            <i class="fas fa-edit"></i>
                          </a>
                        </td>
                        <% if((stock.numberOfProducts - stock.numberOfProductsDifference) <= 50){ %>
                          <td style="background-color: red; color: #fff;"><%= stock.numberOfProducts - stock.numberOfProductsDifference %></td>
                        <% }else{ %>
                          <td><%= stock.numberOfProducts - stock.numberOfProductsDifference %></td>
                        <% } %> 

                        <td class="editable_cell" style="padding-right: 20px"><%= stock.remark %>
                          <a href="javascript:void(0)" class="edit remarkBtns"><input type="hidden" value="<%= stock._id %>"><i class="fas fa-edit"></i></a>
                        </td>

                        <td class="action-cell">
                          <form action="/deleteStockInward" method="POST">
                              <input type="hidden" name="id" value="<%= stock._id%>">
                              <button title="Delete" class="delete-row"><i class="fas fa-trash"></i></button>
                          </form>
                        </td>
                    </tr>
                    <% }) %>
                <% } %>
            </table>

            <div style="margin-top: 10px;" >
              <input type="text" class="filterTable" onkeyup="filterTextTable(this, 'wpTableOut', 2)" placeholder="Product Name">
            </div>
            <button class="downloadAsPdf" id="downloadAsExcel" onclick="downloadPageAsExcel('wpTableOut')">Download table as excel <i class="far fa-file-excel"></i></button>
            <a href="javascript:void(0)" class="add" style="margin-bottom: -20px;">Add<span><i class="fas fa-plus"></i></span></a>
                <div class="modal" id="modal">
                  <div class="modal-head">
                    <h3>Stock Outwards form</h3>
                    <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
                  </div>               
                    <form action="/wpAddStockOwtwards" method="POST">
                        <% if(user !== null){ %>
                          <input type="hidden" name="creatorName" value="<%= user.name %>">
                        <% } %>
                        <div>
                            <label for="prodName">Product Name: <span>*</span></label>
                            <input type="text" name="prodName" required>
                        </div>
                        <div>
                            <label for="noOfProd">Number of Products: <span>*</span></label>
                            <input type="number" name="noOfProd" required>
                        </div>
                        <div>
                            <label for="clientName">Client Name: <span>*</span></label>
                            <input type="text" name="clientName" required>
                        </div>
                        <div>
                            <label for="clientPhNo">Client Phone number: <span>*</span></label>
                            <input type="number" name="clientPhNo" required>
                        </div>
                        <div>
                            <label for="technicianName">Technician Name: <span>*</span></label>
                            <input type="text" name="technicianName" required>
                        </div>
                        <div>
                            <label for="remark">Remarks: </label>
                            <input type="text" name="remark" >
                        </div>
                        <button type="submit">Add</button>
                    </form>
                </div>

                <h3 class="tableHeadin">Stock Outwards</h3>
                <table class="wptable" id="wpTableOut">
                    <tr>
                      <th>S.No</th>
                      <th>Creator name</th>
                      <th>Product name</th>
                      <th>Number of Products</th>
                      <th>Client Name</th>
                      <th>Client Number</th>
                      <th>Technician Name</th>
                      <th>Remark</th>
                      <th>Delete</th>
                    </tr>
                    <% if(stocks.length > 0) { %>
                      <% stocks.forEach((outward) => { %>
                        <% if(outward.stockOutward.length > 0) { %>
                          <% outward.stockOutward.forEach((out, index) => { %>
                            <tr>
                              <td><%= index + 1 %></td>
                              <td ><%= out.creatorName %></td>
                              <td class="stockOutWardPName"><%= out.productName %></td>
                              <td class="stockOutwardNoOfProd"><%= out.numberOfProducts %></td>
                              <td><%= out.clientName %></td>
                              <td><%= out.clientNumber %></td>
                              <td><%= out.technicianName %></td>
                              <td><%= out.remark %></td>
                              <td class="action-cell">
                                <form action="/deleteStockOutward" method="POST">
                                    <input type="hidden" name="id" value="<%= outward._id%>">
                                    <input type="hidden" name="index" value="<%= index %>">
                                    <button title="Delete" class="delete-row"><i class="fas fa-trash"></i></button>
                                </form>
                              </td>
                            </tr>
                          <% }) %>
                        <% } %>
                      <% }) %>
                    <% } %>
                  </table>
    </div>
</div>
<%- include('../partials/footer') -%>