<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="wp-wrapper"> 
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/wp">Water Purifier</a></li>
    <li>Telecaling Data</li>
</ul>
    <div class="wp-inner">
      <a href="javascript:void(0)" class="add">Add<span><i class="fas fa-plus"></i></span></a>
        <div class="modal" id="modal">
          <div class="modal-head">
            <h3>Telecaling Data form</h3>
            <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
          </div>               
            <form action="/wpAddProspect" method="POST">
                <% if(user !== null){ %>
                  <input type="hidden" name="creatorName" value="<%= user.name %>">
                <% } %>
                <div>
                    <label for="custName">Customer Name: <span>*</span></label>
                    <input type="text" name="custName" required >
                </div> 
                <div>
                    <label for="phNumber">Phone Number: <span>*</span></label>
                    <input type="text" name="phNumber" required>
                </div>
                <div>
                    <label for="city">City: <span>*</span></label>
                    <input type="text" name="city" required>
                </div>
                <div>
                    <label for="address">Address: <span>*</span></label>
                    <input type="text" name="address" required>
                </div>
                <div>
                    <label for="execName">Executive Name: <span>*</span></label>
                    <input type="text" name="execName" required>
                </div>
                <div>
                    <label for="remarks">Remarks: <span>*</span></label>
                    <input type="text" name="remarks" required>
                </div>
                
                <div>
                  <div class="radio-btn-wrapper radio-btn-wrapper1">
                    <label for="radioBtn">Not Interested </label>
                    <input type="radio" name="radioBtn" value="not-interrested" required> 
                  </div>
                  <div class="radio-btn-wrapper radio-btn-wrapper1">
                    <label for="radioBtn">Follow Up </label>
                    <input type="radio" name="radioBtn" value="follow-up" id="followUpRadio"> 
                  </div>
                </div>
                <div id="followUpDate">
                  <label for="followDate">Follow up Date: </label>
                  <input type="date" name="followDate">
                </div>
                <button type="submit">Add</button>
            </form>
        </div>
        <table class="wptable">
            <tr>
              <th>S.No</th>
              <th>Customer name</th>
              <th>Creator name</th>
              <th>Ph Number</th>
              <th>City</th>
              <th>Address</th>
              <th>Executive Name</th>
              <th>Remark</th>
              <th>Status</th>
              <th>Follow Up Date</th>
            </tr>
            <% if(prospects.length > 0) { %>
              <% prospects.forEach((prospect, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= prospect.customerName %></td>
                  <td><%= prospect.creatorName %></td>
                  <td><%= prospect.phoneNumber %></td>
                  <td><%= prospect.city %></td>
                  <td><%= prospect.address %></td>
                  <td><%= prospect.executiveName %></td>
                  <td><%= prospect.remarks %></td>
                  <td><%= prospect.status %></td>
                  <% if(prospect.followUpDate == null && prospect.amount == null){ %>
                    <td style="background-color: #ccc;"></td>
                  <% } else if(prospect.followUpDate !== null ) { %>
                    <td><%= prospect.followUpDate.toLocaleDateString() %></td>
                  <% }  %>
                </tr>
              <% }) %>
            <% } %>
           
          </table>
    </div>
</div>
<%- include('../partials/footer') -%>