<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="wp-wrapper"> 
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/wp">Water Purifier</a></li>
    <li>Telecaling Data</li>
</ul>
<div class="wp-inner" id="printable"> 
      <div style="margin-top: 10px;">
        <input type="number" class="filterTable" onkeyup="filterNumberTable(this, 'wpTable', 3)" placeholder="Search With Phone No">
        <input type="text" class="filterTable" onkeyup="filterTextTable(this, 'wpTable', 9)" placeholder="Search FollowUp Dates">
      </div>
      <button class="downloadAsPdf" id="downloadAsExcel" onclick="downloadPageAsExcel('wpTable')">Download table as excel <i class="far fa-file-excel"></i></button>
      <button class="downloadAsPdf" onclick="downloadPageAsPdf('wpTable')">Download page as pdf <i class="far fa-file-pdf"></i></button>
      <button onclick="printPageArea('printable')" class="downloadAsPdf">Print this page</button>
      <a href="javascript:void(0)" class="add">Add<span><i class="fas fa-plus"></i></span></a>
        <div class="modal" id="modal">
          <div class="modal-head">
            <h3>Telecaling Data form</h3>
            <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
          </div>               
            <form action="/wpAddProspect" method="POST">
                <% if(user !== null){ %>
                  <input type="hidden" name="creatorName" value="<%= user.name %>">
                <% } %>
                <div>
                    <label for="custName">Customer Name: <span>*</span></label>
                    <input type="text" name="custName" required >
                </div> 
                <div>
                    <label for="phNumber">Phone Number: <span>*</span></label>
                    <input type="text" name="phNumber" required>
                </div>
                <div>
                    <label for="city">City: <span>*</span></label>
                    <input type="text" name="city" required>
                </div>
                <div>
                    <label for="address">Address: <span>*</span></label>
                    <input type="text" name="address" required>
                </div>
                <div>
                    <label for="execName">Executive Name: <span>*</span></label>
                    <input type="text" name="execName" required>
                </div>
                <div>
                    <label for="remarks">Remarks:</label>
                    <input type="text" name="remarks">
                </div>
                
                <div>
                  <div class="radio-btn-wrapper radio-btn-wrapper1">
                    <label for="radioBtn">Not Interested </label>
                    <input type="radio" name="radioBtn" value="not-interrested" required> 
                  </div>
                  <div class="radio-btn-wrapper radio-btn-wrapper1">
                    <label for="radioBtn">Follow Up </label>
                    <input type="radio" name="radioBtn" value="follow-up" id="followUpRadio"> 
                  </div>
                </div>
                <div id="followUpDate">
                  <label for="followDate">Follow up Date: </label>
                  <input type="date" name="followDate">
                </div>
                <button type="submit">Add</button>
            </form>
        </div>

        <div class="modal" id="remarksModal">
          <div class="modal-head">
            <h3>Edit This Remark</h3>
            <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
          </div>         
            <form action="/editRemark" method="POST">
              <div>
                <label for="remark">Add a remark: <span>*</span></label>
                <input type="text" name="remark" required>
              </div>
              <input type="hidden" name="id">
              <button type="submit">Update</button>
            </form>
        </div>

        <div class="modal" id="statusModal">
          <div class="modal-head">
            <h3>Edit This Status</h3>
            <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
          </div>         
            <form action="/editStatus" method="POST">
              <div>
                <label for="remark">Status: <span>*</span></label>
                <select name="status" id="statusDropDown">
                  <option selected disabled>Select a status</option>
                  <option value="FollowUp">Follow Up</option>
                  <option value="NotInterrested">Not Interested</option>
                </select>
              </div>
              <input type="hidden" name="id">
              <div id="followUpDate1">
                <label for="followDate">Follow up Date: </label>
                <input type="date" name="followDate">
              </div>
              <button type="submit">Update</button>
            </form>
        </div>

        <table class="wptable" id="wpTable">
            <tr>
              <th>S.No</th>
              <th>Customer name</th>
              <th>Creator name</th>
              <th>Ph Number</th>
              <th>City</th>
              <th>Address</th>
              <th>Executive Name</th>
              <th>Remark</th>
              <th>Follow Up Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            <% if(prospects.length > 0) { %>
              <% prospects.forEach((prospect, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= prospect.customerName %></td>
                  <td><%= prospect.creatorName %></td> 
                  <td><%= prospect.phoneNumber %></td>
                  <td><%= prospect.city %></td>
                  <td><%= prospect.address %></td>
                  <td><%= prospect.executiveName %></td>
                  <% if(prospect.remarks !== ''){ %>
                    <td class="editable_cell"><%= prospect.remarks %>
                      <a href="javascript:void(0)" class="editRemarksBtn edit">
                        <input type="hidden" name="id" value="<%= prospect._id %>">
                        <i class="fas fa-edit"></i>
                      </a>
                    </td>
                  <% }else{ %>
                    <td class="editable_cell" style="background-color: #ccc;">
                      <a href="javascript:void(0)" class="editRemarksBtn edit">
                        <input type="hidden" name="id" value="<%= prospect._id %>">
                        <i class="fas fa-edit"></i>
                      </a>
                    </td>
                  <% } %>
                  <td class="editable_cell"><%= prospect.status %>
                    <a href="javascript:void(0)" class="editStatusBtn edit">
                      <input type="hidden" name="id" value="<%= prospect._id %>">
                      <i class="fas fa-edit"></i>
                    </a>
                  </td>
                  <% if(prospect.followUpDate == null && prospect.amount == null){ %>
                    <td style="background-color: #ccc;"></td>
                  <% } else if(prospect.followUpDate !== null ) { %>
                    <td><%= prospect.followUpDate.toLocaleDateString() %></td>
                  <% }  %>

                  <td class="action-cell">
                    <form action="/deleteTelecaling" method="POST">
                        <input type="hidden" name="id" value="<%= prospect._id%>">
                        <button title="Delete" class="delete-row"><i class="fas fa-trash"></i></button>
                    </form>
                  </td>

                </tr>
              <% }) %>
            <% } %>
           
          </table>
    </div>
</div>
<%- include('../partials/footer') -%>