<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="wp-wrapper">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/wp">Water Purifier</a></li>
    <li>Total Sales</li>
</ul>
    <div class="wp-inner" id="printable">
      <div style="margin-top: 10px;" >
        <div><%- include('../partials/messages') -%></div>
        <input type="text" class="filterTable" onkeyup="filterTextTable(this, 'wpTable', 1)" placeholder="Search With Name">
        <select class="filterTable" onchange="filterTextTable(this, 'wpTable', 10)">
          <option selected disabled>Select a Status</option>
          <option value="Completed">Completed</option>
          <option value="Pending">Pending</option>
        </select>
        <input type="text" class="filterTable" onkeyup="filterTextTable(this, 'wpTable', 11)" placeholder="Next Payment Date">
        <input type="number" class="filterTable" onkeyup="filterNumberTable(this, 'wpTable', 3)" placeholder="Search With Phone No">
        <p class="subTotalWrapper">Total Customers: <span class="totalCustomer"><%= clients.length %></span></p>
        <p class="subTotalWrapper">Subtotal: <span class="subTotal"></span></p>
      </div>
      <a href="javascript:void(0)" class="add">Add<span><i class="fas fa-plus"></i></span></a>

      <!-- Add New Client Modal -->
            <div class="modal" id="modal">
              <div class="modal-head">
                <h3>Add a client</h3>
                <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
              </div>               
                <form action="/wpAddClient" method="POST">
                    <div>
                        <label for="custName">Customer Name: <span>*</span></label>
                        <input type="text" name="custName" required >
                    </div>
                    <% if(user !== null){ %>
                        <input type="hidden" name="creatorName" value="<%= user.name %>">
                    <% } %>
                    <input type="hidden" name="custId" value="<%= 'cyrus'+parseInt(clients.length+1) %>" >
                    <div>
                        <label for="prodName">Product Name: <span>*</span></label>
                        <input type="text" name="prodName" required >
                    </div>
                    <div>
                        <label for="reference">Reference: <span>*</span></label>
                        <input type="text" name="reference" required >
                    </div>
                    <div>
                        <label for="phNumber">Phone Number: <span>*</span></label>
                        <input type="tel" name="phNumber" required>
                    </div>
                    <div>
                        <label for="phNumber1">Alternate Phone Number:</label>
                        <input type="tel" name="phNumber1" >
                    </div>
                    <div>
                        <label for="address">Address: <span>*</span></label>
                        <input type="text" name="address" required>
                    </div>
                    <div>
                        <label for="instDate">Installation Date: <span>*</span></label>
                        <input type="date" name="instDate" required>
                    </div>
                    <div>
                        <label for="instExec">Installation Executive: <span>*</span></label>
                        <input type="text" name="instExec" required>
                    </div>
                    <div>
                        <label for="amount">Amount: <span>*</span></label>
                        <input type="number" name="amount" required>
                    </div>
                    <div>
                        <label for="paymentMode">Payment Mode: <span>*</span></label>
                        <select name="paymentMode" id="paymentMode" required>
                          <option selected disabled>Select a mode</option>
                          <option value="Cash">Cash</option>
                          <option value="Cheque">Cheque</option>
                        </select>
                    </div>
                    <div id="bankInfo">
                      <label for="amount">Bank Info:</label>
                      <input type="number" name="accNo" placeholder="Account Number" >
                      <input type="text" name="branchName" placeholder="Branch Name" >
                      <input type="number" name="chequeNo" placeholder="Cheque Number" >
                      <label for="chequeDate">Cheque Date:</label>
                      <input type="date" name="chequeDate"  >
                    </div>
                    
                    <div>
                      <label for="remarks">Remarks:</label>
                      <input type="text" name="remarks" >
                    </div>
                    <div class="emi-checkbox">
                        <input type="checkbox" name="emi" > EMI
                    </div>
                    <div id="advanceAmount">
                      <label for="advAmount">Advance Amount:</label>
                      <input type="number" name="advAmount" >
                    </div>
                    <div id="duration">
                      <div>
                        <div class="radio-btn-wrapper">
                          <label for="duration">2 Months</label>
                          <input type="radio" name="duration" value="2 Months"> 
                        </div>
                        <div class="radio-btn-wrapper">
                          <label for="radioBtn">3 Months</label>
                          <input type="radio" name="duration" value="3 Months"> 
                        </div>
                      </div>
                    </div>
                    <button type="submit">Add</button>
                </form>
            </div>
      <!-- Add New Client Modal -->

      <!-- Remark Modal -->
        <div class="modal" id="updateRemarkModal">
          <div class="modal-head">
            <h3>Update remark</h3>
            <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span></a>
          </div>
          <form action="/updateRemark" method="POST">
            <div>
              <label for="remark">Enter a remark:</label>
              <input type="remark" name="remark" />
            </div>
            <input type="hidden" name="id" required />
            <button type="submit">Update</button>
          </form>
        </div>
      <!-- Remark Modal --> 

      <button class="downloadAsPdf"  onclick="fnExcelReport();">Download table as excel <i class="far fa-file-excel"></i></button>
      <button class="downloadAsPdf" onclick="downloadPageAsPdf('wpTable')">Download page as pdf <i class="far fa-file-pdf"></i></button>
      <button onclick="printPageArea('printable')" class="downloadAsPdf">Print this page</button> 

        <table class="wptable" id="wpTable">
            <tr>
              <th>Customer Id</th>
              <th>Customer name</th>
              <th>Product name</th> 
              <th>Ph Number</th>
              <th>Address</th>
              <th>Installation Date</th>
              <th>Installation Executive</th>
              <th>Amount</th>
              <th>Payment Mode</th>
              <th>EMI</th>
              <th>Emi Status</th>
              <th>Next Payment Date</th>
              <th>Remarks</th>
              <th>Action</th>
            </tr>
            <% if(clients.length > 0){ %> 
              <% clients.forEach((client, index) => { %>
                <tr>
                  <td class="editable_cell" style="padding-right: 20px"><%= client.customerId %>
                    <form action="/showSingleCust/<%= client._id %>" method="GET">
                      <button type="submit" class="edit"><i class="fas fa-eye"></i></button>
                    </form>
                  </td>
                  <td><%= client.customerName %></td> 
                  <td><%= client.productName %></td>
                  <td><%= client.phoneNumber %></td>
                  <td><%= client.address %></td>
                  <td><%= client.installationDate.getDate() %>/<%= client.installationDate.getMonth() + 1 %>/<%= client.installationDate.getFullYear() %></td>
                  <td><%= client.installationExecutive %></td>
                  <td>&#8377; <%= client.amount %></td>
                  <td><%= client.paymentMode %></td>
                  
                  <td> 
                    <% if(client.emi){ %>
                      <button class="true-emi"><i class="fas fa-check"></i></button>
                    <% }else{ %>
                      <button class="false-emi" style="pointer-events: none"><i class="fas fa-times"></i></button>
                    <% } %>
                  </td>

                  <!-- Emi Status -->
                  <% if(client.emi){ %>
                    <td>
                      <% if(client.duration == "3 Months"){ %>
                        <% if(client.firstPaymentStatus=="Pending" || client.secondPaymentStatus=="Pending" || client.thirdPaymentStatus=="Pending"){ %>
                          <% if(client.dueAmountsCleared1 || client.dueAmountsCleared2 || client.dueAmountsCleared3){ %>
                            Completed
                          <% }else{ %>
                            Pending
                          <% } %>
                        <% }else{ %>
                          Completed
                        <% } %>
                      <% }else{ %>
                        <% if(client.firstPaymentStatus=="Pending" || client.secondPaymentStatus=="Pending"){ %>
                          <% if(client.dueAmountsCleared1 || client.dueAmountsCleared2){ %>
                            Completed
                          <% }else{ %>
                            Pending
                          <% } %>
                        <% }else{ %>
                          Completed
                        <% } %>
                      <% } %>
                    </td>
                  <% }else{ %>
                    <td style="background-color: #ccc;"></td>
                  <% } %>
                  <!-- Emi Status -->

                  <!-- Next Emi Date -->
                  <% if(client.emi){ %>
                    
                      <% if(client.duration == "3 Months"){ %>
                        <% if(client.dueAmountsCleared1 || client.dueAmountsCleared2 || client.dueAmountsCleared3 || client.thirdPaymentStatus=="Paid"){ %>
                          <td style="background-color: #ccc;"></td>
                        <% }else{ %>
                            <% if(client.secondPaymentStatus=="Paid"){ %>
                              <td><%= client.secondNextPaymentDate.getDate() %>/<%= client.secondNextPaymentDate.getMonth() + 1 %>/<%= client.secondNextPaymentDate.getFullYear() %></td>
                              <% }else if(client.firstPaymentStatus=="Paid"){ %>
                                <td><%= client.firstNextPaymentDate.getDate() %>/<%= client.firstNextPaymentDate.getMonth() + 1 %>/<%= client.firstNextPaymentDate.getFullYear() %></td>
                            <% }else{ %>
                              <td><%= client.firstNextPaymentDate.getDate() %>/<%= client.firstNextPaymentDate.getMonth() + 1 %>/<%= client.firstNextPaymentDate.getFullYear() %></td>
                            <% } %>
                        <% } %>
                        <!-- if 2 months -->
                      <% }else{ %>
                        <% if(client.dueAmountsCleared1 || client.dueAmountsCleared2 ||  client.secondPaymentStatus=="Paid"){ %>
                          <td style="background-color: #ccc;"></td>
                        <% }else{ %>
                          <% if(client.firstPaymentStatus=="Paid"){ %>
                            <td><%= client.firstNextPaymentDate.getDate() %>/<%= client.firstNextPaymentDate.getMonth() + 1 %>/<%= client.firstNextPaymentDate.getFullYear() %></td>
                          <% }else{ %>
                            <td><%= client.firstNextPaymentDate.getDate() %>/<%= client.firstNextPaymentDate.getMonth() + 1 %>/<%= client.firstNextPaymentDate.getFullYear() %></td>
                          <% } %>
                        <% } %>
                      <% } %>
                      
                  <% }else{ %>
                    <td style="background-color: #ccc;"></td>
                  <% } %>
                  
                  <!-- Next Emi Date -->
                  
                  <% if(client.remarks !== "") { %>
                    <td class="editable_cell" style="padding-right: 20px; font-size: 11px"><%= client.remarks %>
                      <a href="javascript:void(0)" class="edit remarkBtns"><input type="hidden" value="<%= client._id %>"><i class="fas fa-edit"></i></a>
                    </td>
                  <% }else{ %>
                    <td class="editable_cell" style="padding-right: 20px; background-color: #ccc;">
                      <a href="javascript:void(0)" class="edit remarkBtns"><input type="hidden" value="<%= client._id %>"><i class="fas fa-edit"></i></a>
                    </td>
                  <% } %>

                  <td class="action-cell">
                    <form action="/deletClient" method="POST">
                        <input type="hidden" name="id" value="<%= client._id%>">
                        <button title="Delete" class="delete-row"><i class="fas fa-trash"></i></button>
                    </form>
                  </td>
                </tr>
              <% }) %>                      
            <% } %>                     
          </table>
    </div>
</div>
<%- include('../partials/footer') -%>