<%- include('../../partials/header') -%> <%- include('../../partials/navbar')
-%>

<div class="sc-wrapper">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/wp">Water Purifier</a></li>
    <li><a href="/wpStockReport">Stock Reports</a></li>
    <li>Edit data</li>
  </ul>

  <h2 class="title">Edit item</h2>

  <%- include('../../partials/messages') -%>
  <div class="editFormWrapper">
    <form action="/editStockInwards" method="POST">
      <input type="hidden" name="id" value="<%= data._id %>" />

      <label for="customerName">Product Name</label>
      <input
        type="text"
        name="productName"
        id="customerName"
        class="editFormInput"
        value="<%= data.productName %>"
      />

      <label for="phoneNumber">Number of products</label>
      <input
        type="number"
        name="numberOfProducts"
        id="phoneNumber"
        class="editFormInput"
        value="<%= data.numberOfProducts %>"
      />

      <label for="phoneNumber">Number of stock outward</label>
      <input
        type="number"
        name="numberOfProducts"
        id="phoneNumber"
        class="editFormInput"
        disabled
        value="<%= data.numberOfProductsDifference %>"
      />

      <label for="remarks">Remarks</label>
      <input
        type="text"
        name="remark"
        id="remarks"
        class="editFormInput"
        value="<%= data.remark %>"
      />

      <input type="submit" class="editFormBtn" value="Edit" />
    </form>
  </div>
</div>

<%- include('../../partials/footer') -%>
