<%- include('./partials/header') -%>
<%- include('./partials/navbar') -%>
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>Admin</li>
</ul>
<div class="admin-wrapper">
  <main class="addmin-body">
    <%- include('./partials/messages') -%>
    <div class="users">
      <div style="display: flex; justify-content: space-between">
        <h3>List of created users</h3>
        <p style="color: red;"><strong>Note:</strong> Change everything but never change your own role</p>
        <a href="javascript:void(0)" class="add">Add User<span><i class="fas fa-plus"></i></span></a>
      </div>

      <div class="modal" id="modal">
        <div class="modal-head">
          <h3>Add new user</h3>
          <a href="javascript:void(0)" class="close" id="hideModal"><span><i class="fas fa-times"></i></span
          ></a>
        </div>
        <form action="/register" method="POST">
          <div>
            <label for="name">Full Name <span>*</span></label>
            <input type="text" name="name" />
          </div>
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" />
          </div>
          <div>
            <label for="number">Mobile number <span>*</span></label>
            <input type="number" name="number" />
          </div>
          <div>
            <label for="role">Role <span>*</span></label>
            <select name="role" id="selectRole">
              <option selected disabled>Select a role</option>
              <option value="Admin">Admin</option>
              <option value="Sales Department">Sales Dept</option>
              <option value="Telecalings Department">Telecaling Dept</option>
              <option value="Stocks Department">Stock Dept</option>
              <option value="Services Department">Service Dept</option>
            </select>
          </div>
          <div class="hidden-input" id="company">
            <label for="companyName">Which Company <span>*</span></label>
            <select name="companyName">
              <option selected disabled>Select a company</option>
              <option value="wp">Water Purifier</option>
              <!-- Changes -->
              <option value="solar">Distribution</option>
            </select>
          </div>
          <div>
            <label for="password">Password <span>*</span></label>
            <input type="password" name="password" />
          </div>
          <div>
            <label for="password2">Confirm Password <span>*</span></label>
            <input type="password" name="password2" />
          </div>
          <button type="submit">Create</button>
        </form>
      </div>

      <div class="modal" id="updateModal">
        <div class="modal-head">
          <h3>Update user</h3>
          <a href="javascript:void(0)" class="close" id="hideUpdateModal"><span><i class="fas fa-times"></i></span></a>
        </div>
        <form action="/updateUser" method="POST">
          <input type="hidden" name="id" id="formUserId">
          <div>
            <label for="name">Full Name </label>
            <input type="text" name="name" />
          </div>
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" />
          </div>
          <div>
            <label for="number">Mobile number </label>
            <input type="number" name="number" />
          </div>
          <div>
            <label for="password">Role </label>
            <select name="role" >
              <option selected disabled>Select a role</option>
              <option value="admin">Admin</option>
              <option value="telecaling">Telecaling Dept</option>
              <option value="sales">Sales Dept</option>
              <option value="stock">Stock Dept</option>
              <option value="service">Service Dept</option>
            </select>
          </div>
          <div>
            <label for="password">Password </label>
            <input type="password" name="password" />
          </div>
          <button type="submit">Update</button>
        </form>
      </div>

      <table class="wptable" style="white-space: nowrap;">
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile Number</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
        <% if(users){ %> 
          <% users.forEach((user1, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= user1.name %></td>
          <% if(user1.email){ %>
            <td><%= user1.email %></td> 
          <% }else{ %>
            <td style="background-color: #888"></td>
          <% } %>
          <td><%= user1.mobileNumber %></td>
          <% if(user1.role == "Super Admin"){ %>
            <td style="background-color: #270000; color: #fff;"><%= user1.role %></td>
          <% }else{ %>
            <td><%= user1.role %></td>
          <% } %>

          <td>
            <a href="javascript:void(0)" class="eidtBtn"><i class="fas fa-edit"></i></a>

            <% if(user1.role == "Super Admin"){ %>
            <form action="/romoveUser" method="POST" style="display: none;">
              <input type="hidden" name="id" class="userIds" value="<%= user1._id %>">
              <button class="deleteBtn"><i class="fas fa-trash"></i></button>
            </form>
            <% }else{ %>
              <form action="/romoveUser" method="POST" style="display: inline;">
                <input type="hidden" name="id" class="userIds" value="<%= user1._id %>">
                <button class="deleteBtn"><i class="fas fa-trash"></i></button>
              </form>
            <% } %>
          </td>
        </tr>
        <% }) %> <% } %>
      </table>
    </div>
  </main>
</div>
<%- include('./partials/footer') -%>
