<%- include('./partials/header') -%>
<%- include('./partials/navbar') -%>
<div class="emi-wrapper">
    <div class="wp-wrapper">
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="/wp">Water Purifier</a></li>
          <li><a href="/wpTotalSales">Total Sales</a></li>
          <li>Check Emi</li>
      </ul>
    <h2><%= person.customerName %>'s EMI representation</h2>

    <!-- <a href="javascript:void(0)" class="add-payment" id="addPayment">Add Payment</a>
    <form id="addPaymentForm">
        <input type="hidden" name="id">
        <input type="number" name='paidAmt' placeholder="Enter the amount paid" />
        <button>Add</button>
    </form> -->
    <table class="emi-table">
        <tr>
            <th>Main Balance</th>
            <th>Advance</th>
            <th>Month</th>
            <th>Paid</th>
            <th>Balance Remaining</th>
            <th>Next Payment date</th>
        </tr>
        <tr>
            <td rowspan="3" id="mainBal"><%= person.amount %></td>
            <td  rowspan="3" id="advPaid"><%= person.advancePayment %></td>
            <td>1</td>
            <td id="amtPaid"></td>
            <td id="remainingBal"></td>
            <td id="nextDate"><%= person.installationDate %></td>
        </tr>
        <input type="hidden" value="<%= person.duration %>" id="duration">
        <tr>
            <td>2</td>
            <td id="amtPaid1"></td>
            <td id="remainingBal1"></td>
            <td id="nextDate1"></td>
        </tr>
        <% if(person.duration === '3 Months'){ %>
            <tr>
                <td>3</td>
                <td id="amtPaid2"></td>
                <td id="remainingBal2"></td>
                <td id="nextDate2"></td>
            </tr>
        <% } %>
    </table>
</div>
<%- include('./partials/footer') -%>